<!DOCTYPE html>
<html>
  <head>
	<title>Fly me</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript">

var flyme = (function($) {
  var geocoder;
  var map;
  var prices = <%= json %>;
  var markersArray = [];

	return {
		set_map: function(the_map) {
			map = the_map
		},
		init_prices: function() {
			this.update_prices(prices);
			this.update_colours(0,2000);
		},
		update_prices: function(price_array) {
			var self = this;
    price_array.forEach(function(x) {
      if (x.price) {
        self.add_marker_for_place(x.name, x.price, x.lat, x.long, x.rgb, x.url);
      }
    });
	},
		add_marker_for_place: function(place, num, lat, long, rgb, url) {
     var pos = new google.maps.LatLng(lat, long);
     var label = new Label({
       map: map,
       position: pos,
       text: num,
       title: place,
       labelStyle: { color: '#' + rgb, 'font-family': 'ubuntu', 'font-size': '18px' }
     });
     var infocontent = '<h2 style="margin: 0">' + place + '</h2>' + 
     '<a href="http://www.skyscanner.net' + url + '">£' + num + '</a>';
     var infowindow = new google.maps.InfoWindow({
           content: infocontent
     });
     google.maps.event.addListener(label, 'click', function() {
       infowindow.open(map, label);
     });
     markersArray.push({ 'label': label, price: num });
		},
		delete_overlays: function () {
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].label.setMap(null);
      }
      markersArray.length = 0;
    }
		},

		update_colours: function(min_price, max_price) {
			markersArray.forEach(function(elem) {
			var price = elem.price
			var price_pct = (price - min_price) / (max_price - min_price)
			var red = Math.round(price_pct * 255)
			var green = 255 - red
			elem.label.span_.style.color = 'rgb(' + red + ',' + green + ',0)';
			});
		},

		filter_by_price: function(min_price, max_price) {
			markersArray.forEach(function(elem) {
			if (elem.price < min_price || elem.price > max_price) {
        elem.label.setMap(null);
			}
			else {
        elem.label.setMap(map);
			}
		});
			this.update_colours(min_price, max_price);
		},

		update_map: function (stuff) {
    var city = stuff[0].value;
    var month = stuff[1].value;
		var min_price = $('#slider-range').slider('values', 0);
		var max_price = $('#slider-range').slider('values', 1);
		var self = this;
		this.delete_overlays();
    $.getJSON('/ajax/' + city + '/' + month, function(data) {
      self.update_prices(data);
			self.filter_by_price(min_price,max_price);
    });
  }
	}
})(jQuery);

  </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0; font-family: Verdana }
      #map_canvas { height: 100% }
			#slider-box { padding: 20px; width: 50%; margin: auto }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAEJ76oKOmS7a1T8YfLYICt24kBuCSIRvE&sensor=false">
    </script>
    <script>
    $(function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 2000,
            values: [ 0, 2000 ],
            slide: function( event, ui ) {
                $( "#amount" ).val( "£" + ui.values[ 0 ] + " - £" + ui.values[ 1 ] );
            },
						change: function( event, ui ) {
							flyme.filter_by_price(ui.values[0], ui.values[1])
						}
        });
        $( "#amount" ).val( "£" + $( "#slider-range" ).slider( "values", 0 ) +
            " - £" + $( "#slider-range" ).slider( "values", 1 ) );
    });
    </script>
  <script src="/javascripts/label.js" type="text/javascript"></script>
    <script type="text/javascript">
      function initialize() {
        geocoder = new google.maps.Geocoder();
        var myOptions = {
          center: new google.maps.LatLng(54,-2),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        flyme.set_map(new google.maps.Map(document.getElementById("map_canvas"),
            myOptions));

       flyme.init_prices();
      }
      jQuery(document).ready(function() {
        jQuery('#loader').ajaxStart(function() { 
          jQuery(this).show();
        });
        jQuery('#loader').ajaxStop(function() { 
          jQuery(this).hide();
        });
        jQuery('#loader').hide();
      });
    </script>
  </head>
  <body onload="initialize()">
	<a href="https://github.com/mcartmell/flightbrowser"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 1" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=310601029052077";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<table style="margin: auto">
		<tr>
		<td>
    <form id="theform">
      Flying from <input type="text" name="city" value="Manchester"> in <select name="month">
<% months.each do |m| %>

      <option value="<%= m %>"><%= m %></option>
<% end %>
      </select><input type="button" value="Fly me" onClick="flyme.update_map(jQuery('#theform').serializeArray())" /><img src="/images/loader.gif" id="loader" />
    </form>
		</td>
		</tr>
		</table>
    <div id="map_canvas" style="width: 100%; height: 600px;"></div>
		<div>
 <div id="slider-box">
<p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>
 
<div id="slider-range"></div>
</div>
</div>
<div class="fb-comments" data-href="http://flightbrowser.mikec.me" data-width="470" data-num-posts="5"></div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37363980-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>

